<h1 class="center-low">Welcome to Guess the Word game!</h1>

<div class="left">
  <h2>Here are the rules of the game:</h2>
  <ol>
    <li>You start with <%= session[:points] %> points</li>
    <li>Every time you guess a letter that doesn't belong in the word, you lose a point</li>
    <li>If you would like another word, click on the Generate a new word link in the top left corner</li>
  </ol>
  <p>Ready to play? Click Yes to start the game, No to exit</p>
  <form action="/word" method="get">
    <button>Yes</button>
  </form>
  <form action="/finish" method="get">
    <button>No</button>
  </form>
</div>